<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gym Tracker</title>

    <link rel="stylesheet" href="static\css\bootstrap.css">
    <link rel="stylesheet" href="static\css\style.css">

    <script defer src="static\js\bootstrap.bundle.min.js"></script>

  </head>
  <body class="bg-secondary">
    <div class="container-fluid vh-100 m-0 p-3 d-flex align-items-center">
      <div class="container border border-1 border-light rounded rounded-5 shadow-lg p-3" style="width: 600px;">
        {% block content %}

        {% endblock %}
      </div>
    </div>
  </body>
</html>