<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gym Tracker</title>

    <link rel="stylesheet" href="static\css\bootstrap.css">
    <link rel="stylesheet" href="static\css\style.css">

    <script defer src="static\js\bootstrap.bundle.min.js"></script>

  </head>
  <body class="bg-body">
    <div class="container-fluid vh-100 m-0 p-5 d-flex align-items-center">
      <div class="container bg-body-tertiary rounded rounded-6 shadow-lg p-3" style="width: 500px;">
        {% block content %}

        {% endblock %}
      </div>
    </div>
  </body>
</html>