<div class="container-fluid text-center shadow-lg fixed-top bg-dark px-0 py-2 border-bottom border-primary">
  <div class="d-flex flex-row w-100 justify-content-between px-3">
    <div class="d-flex">
      <img src="static\images\logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
    </div>
    <div class="d-flex">
      <h1 class="text-primary align-middle">Gym Tracker</h1>
    </div>
    <div class="d-flex">
      <img src="static\images\profile.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
    </div>
  </div>
</div>
