{% extends "main/mainbase.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-light w-100 border-bottom">Home</h1>
    <div class="container-fluid row px-2">
        <div class="col-6 px-2">
            <div class="container-fluid border border-1 border-light rounded-3 rounded shadow-lg p-3 my-3">
                <h4 class="text-light w-100 border-bottom">Streaks</h4>
                Calander
            </div>

            <div class="container-fluid border border-1 border-light rounded-3 rounded shadow-lg p-3 my-3">
                <h4 class="text-light w-100 border-bottom">Achievments</h4>
                Achievments
            </div>
        </div>

        <div class="col-6 px-2">
            <div class="container-fluid border border-1 border-light rounded-3 rounded shadow-lg p-3 my-3">
                <h4 class="text-light w-100 align-middle">Current Day</h4>
            </div>

            <div class="container-fluid border border-1 border-light rounded-3 rounded shadow-lg p-3 my-3">
                <h4 class="text-light w-100 border-bottom">Today's Workout</h4>
                Workout list
            </div>
        </div>
    </div>
</div>
{% endblock %}