<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gym Tracker</title>

    <link rel="stylesheet" href="static\css\bootstrap.css">
    <link rel="stylesheet" href="static\css\style.css">

    <script defer src="static\js\bootstrap.bundle.min.js"></script>

  </head>

  <body class="bg-dark-1">
    <div class="container-fluid vh-100 row py-2 px-3">
      <div class="col-3">
        <div>
          <h1 class="text-light">Gym Tracker</h1>Title
        </div>
        <div>
          Sidebar
        </div>
      </div>
      <div class="col-9">
        <div>
          Top Bar
        </div>
        <div>
          Content
        </div>
      </div>
    </div>
  </body>


<!--
  <body class="bg-secondary">
    <div class="container-fluid h-100 vh-100">
      <div class="fixed-top bg-secondary shadow-lg h-100" style="width: 250px; padding-top: 80px;">
        {% include 'main/static/sidebar.html' %}
      </div>
      <div class="d-flex" style="margin-left: 250px; margin-top: 80px;">
        {% include 'main/home.html' %}
      </div>
    </div>
    {% include 'main/static/header.html' %}
  </body>
-->
</html>

