<div class="container-fluid">
    <ul class="navbar-nav mx-0 px-1">
        <li class="nav-item">
            <a class="nav-link active text-light py-0 my-2 border-end border-2 border-light rounded-1 rounded-end" aria-current="page" href="">
                <img src="static\images\placeholder.svg" alt="Logo" width="30" height="30" class="d-inline-block align-top">
                <h4 class="ps-2 lh-sm d-inline-block align-middle">Home</h4>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-muted py-0 my-2" aria-current="page" href="#">
                <img src="static\images\placeholder.svg" alt="Logo" width="30" height="30" class="d-inline-block align-top">
                <p class="fs-4 lh-sm ps-2 d-inline-block align-middle">Start Workout</p>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-muted py-0 my-2" aria-current="page" href="#">
                <img src="static\images\placeholder.svg" alt="Logo" width="30" height="30" class="d-inline-block align-top">
                <p class="fs-4 lh-sm ps-2 d-inline-block align-middle">Record Workout</p>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-muted py-0 my-2" aria-current="page" href="#">
                <img src="static\images\placeholder.svg" alt="Logo" width="30" height="30" class="d-inline-block align-top">
                <p class="fs-4 lh-sm ps-2 d-inline-block align-middle">Record Food</p>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-muted py-0 my-2" aria-current="page" href="#">
                <img src="static\images\placeholder.svg" alt="Logo" width="30" height="30" class="d-inline-block align-top">
                <p class="fs-4 lh-sm ps-2 d-inline-block align-middle">Your Statistics</p>
            </a>
        </li>
    </ul>
</div>