{% extends "base.html" %}

{% block title %} Edit Day {{day[2]}} {% endblock %}

{% block body %}
<div class="container-fluid vh-100 m-0 p-5 d-flex align-items-center">
    <div class="container bg-body-tertiary rounded rounded-6 shadow-lg p-3" style="width: 700px;">
        <h1 class="text-light w-100 text-center">Welcome Back</h1>
        <h6 class="text-light w-100 border-bottom border-2 border-body-secondary pb-3 text-center">Please enter your email and password </h6>
        <div class="container-fluid">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="border border-1 border-danger rounded-3 bg-danger-subtle p-3 mt-3 text-danger text-center">
                {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}

            {% for exercise in day[4] %}
            <div class="container d-flex px-4 w-100">
                <select class="rounded-pill py-2 px-3 w-100 my-2 bg-body-secondary border-0 text-light" style="appearance: none;" name="gender" aria-label="Floating label select example" required>
                    {% for option in options %}
                        <option {% if exercise==option.id %} selected {% endif %} value="{{ option.id }}">{{ option.name }}</option>
                    {% endfor%}
                </select>
            </div>
        </div>
    </div>
</div>
{% endblock %}