{% extends "profile/profileBase.html" %}

{% block content %}
<div class="container-fluid d-flex justify-content-center">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary">Your Information</button>
      <button type="button" class="btn btn-outline-primary" href="{{ url_for('main.info') }}">Your Preferences</button>
      <button type="button" class="btn btn-outline-primary" href="{{ url_for('main.info') }}">Your Settings</button>
    </div>
</div>

<form method="POST" class="container-fluid p-2" action="/info">
    <div class="container d-flex px-4 mt-3">
        <h5 class="text-light">Name: </h5>
    </div>
    <div class="container d-flex px-4 w-100">
        <input type="text" class="rounded-pill py-2 px-3 w-100 my-2 bg-body-secondary border-0 text-light" id="name" name="name" value="{{ name }}" required>
    </div>

    <div class="container d-flex px-4 mt-3">
        <h5 class="text-light">Birthday: </h5>
    </div>
    <div class="container d-flex px-4 w-100">
        <input type="date" class="rounded-pill py-2 px-3 w-100 my-2 bg-body-secondary border-0 text-light" id="birthday" name="birthday" value="{{ birthday }}" required>
    </div>

    <div class="container d-flex px-0 w-100">
        <div class="d-flex w-100 px-0 mx-0 flex-row mt-3"> 
            <div class="col-6">
                <div class="container d-flex px-4 w-100 mb-2">
                    <h5 class="text-light">Height: </h5>
                </div>
                <div class="container d-flex px-4 w-100"> 
                    <input type="number" class="w-100 rounded-start-pill border-0 bg-body-secondary py-2 ps-3" name="height_feet" value="{{ hFeet }}" aria-label="Feet" required>
                    <span class="bg-body-secondary text-light pe-2 py-2">'</span>
                    <input type="number" class="w-100 border-0 bg-body-secondary py-2" name="height_inches" value="{{ hInches }}" aria-label="Inches" required>
                    <span class="bg-body-secondary text-light rounded-end-pill pe-3 py-2">"</span>
                </div>
            </div>
    
            <div class="col-6">
                <div class="container d-flex px-4 w-100 mb-2">
                    <h5 class="text-light">Weight: </h5>
                </div>
                <div class="container d-flex px-4 w-100"> 
                    <input type="number" class="rounded-start-pill border-0 bg-body-secondary py-2 ps-3 w-100" name="weight" value="{{ weight }}" aria-label="Weight (In Pounds)" required>
                    <span class="bg-body-secondary text-light rounded-end-pill pe-3 py-2">lbs</span>
                </div>
            </div>
        </div>
    </div>


    <div class="container d-flex px-4 w-100 mt-3">
        <h5 class="text-light">Gender: </h5>
    </div>
    <div class="container d-flex px-4 w-100">
        <select class="rounded-pill py-2 px-3 w-100 my-2 bg-body-secondary border-0 text-light" style="appearance: none;" name="gender" aria-label="Floating label select example" required>
          <option {% if gender==None %} selected {% endif %} disabled value="u">Unknown</option>
          <option {% if gender=="m" %} selected {% endif %} value="m">Male</option>
          <option {% if gender=="f" %} selected {% endif %} value="f">Female</option>
          <option {% if gender=="o" %} selected {% endif %} value="o">Other</option>
        </select>
    </div>

    <div class="container d-flex justify-content-center mt-3">
        <button class="btn bg-primary text-light rounded-pill w-50 p-2 mx-2">Save Changes</button>
    </div>

    <div class="container-fluid text-light text-center d-flex justify-content-center mt-2 mb-0">
      <a href="/info" class="text-primary" style="text-decoration: none;">Reset</a>
    </div>
</form>
{% endblock %}