{% extends "profile/profileBase.html" %}

{% block content %}
<div class="container-fluid d-flex justify-content-center">
    <div class="btn-group" role="group">
        <a class="btn btn-outline-primary" href="{{ url_for('main.info') }}">Your Information</a>
        <a class="btn btn-primary">Your Preferences</a>
        <a class="btn btn-outline-primary" href="{{ url_for('main.settings') }}">Your Settings</a>
    </div>
</div>
<div class="d-flex row m-3 p-2 justify-content-center"> 
    {% for day in cycle %}
    <div class="col-3 px-2">
        <div class="container-fluid border border-1 border-light rounded-3 rounded shadow-lg p-3 my-3">
            <h4 class="text-light w-100 border-bottom">{{ day[1] }}</h4>
            <ol>
                {% for exercise in day[2] %}
                <li>{{ exercise }}</li>
                {% endfor %}
            </ol>
            <form action="/edit" method="POST">
                <button name="edit" class=" w-100 btn btn-primary" value="{{day[0]-1}}">Edit</button>
            </form>              
        </div>
    </div>
    {% endfor %}
</div>
 
{% endblock %}