{% extends "profile/profileBase.html" %}

{% block content %}
<div class="container-fluid d-flex justify-content-center">
    <div class="btn-group" role="group">
        <a class="btn btn-outline-primary" href="{{ url_for('main.info') }}">Your Information</a>
        <a class="btn btn-outline-primary" href="{{ url_for('main.prefs') }}">Your Preferences</a>
        <a class="btn btn-primary">Your Settings</a>
    </div>
</div>

<form method="POST" class="container-fluid p-2" action="/settings">

    <div class="container d-flex justify-content-center mt-3">
        <button class="btn bg-primary text-light rounded-pill w-50 p-2 mx-2 border-0">Save Changes</button>
    </div>

    <div class="container-fluid text-light text-center d-flex justify-content-center mt-2 mb-0">
      <a href="/settings" class="text-primary" style="text-decoration: none;">Reset</a>
    </div>
</form>
{% endblock %}